[Desktop Entry]
Name=Winbox x64
GenericName=Configuration tool for RouterOS
Comment=Configuration tool for RouterOS
Exec=wine64 /opt/winbox/winbox64.exe
Icon=/opt/winbox/winbox.jpg
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;
Keywords=winbox;mikrotik;
Type=Application